@font-face {
  font-family: 'AvenirLTStd-Heavy';
  src: url('AvenirLTStd-Heavy.eot');
  src: url('AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'),
       url('AvenirLTStd-Heavy.svg#AvenirLTStd-Heavy') format('svg'),
       url('AvenirLTStd-Heavy.ttf') format('truetype'),
       url('AvenirLTStd-Heavy.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

